.banner-title{
    color: #d3d3d3;
    font-size: 48px;
    letter-spacing: 2.4px;
    text-transform: capitalize;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .banner-title{
        font-size: 24px;
    }
    .sub-text-banner{
        font-size: 14px;
    }
}